{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                <h3><strong>جزئیات سفارش</strong></h3>
                <br>
                <div class="card">
                    <div class="card-header">
                        سفارش {{ order.id }} - {{ order.amount_paid|intcomma }} تومان
                    </div>
                    <div class="card-body">
                        به نام: {{ order.full_name }}<br>
                        ایمیل: {{ order.email }}<br>
                        آدرس: {{ order.shipping_address }}<br>
                        تاریخ ثبت: {{ order.date_ordered|date:"y-m-d h:i:s" }}<br>
                        آخرین ویرایش: {{ order.last_update|date:"y-m-d h:i:s" }}<br>
                        وضعیت: {{ order.get_status_display }}<br>
                        <hr>
                        کالا ها: <br>
                        {% for item in items %}
                           {{ item.product }} | تعداد {{ item.quantity }} عدد | {{ item.price }} تومان <br>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <a href="{% url 'orders' %}" class="btn btn-primary">بازگشت به پیگیری سفارشات</a>
            </div>
        </center>
    </div>
</div>
<br><br><br>
{% endblock %}